.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.left {
  background: grey;  
}

.right {
  background: black;  
}

.main-wrapper {
  height: 100vh;  
}

.user_item {
  display: flex;
  width: max-content;
  text-align: center;
  flex-direction: row-reverse;
  cursor: pointer;
  border: 1px solid rgb(9, 43, 212);

  border-radius: 10px;

}
.xxx{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.half {
  background: #f9f9f9;
  height: 50%;  
  width: 100%;
  margin: 15px 0;
}

h4 {
  color: white;  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form.form-login{
  border-style: solid 5px;
} 

.memebre-title{
  text-align :center;
}


@media (max-width: 798px) {
  .user_item {
    width: 100%;
  }
}
